# Godot 4
.godot/
.import/
*.import
export/
build/
*.tmp
*.log

# Editor/IDE
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Godot temp/user
.gut/
.gut_editor*
.godot/editor_layout.cfg
.godot/editor_layouts.cfg

# Other IDE/temp
.idea/
*.swp
*.swo

#course PDFs (do not commit)
.github/copilot-instructions.md
SU opstart uge 1 - Spiludvikling og Unittests - Wordle.pdf
